body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: rgb(47, 79, 79, 0.1);
}

/* Header */

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: rgb(47, 79, 79, 0.5);
}

nav button {
  background-color: rgb(47, 79, 79);
  color: aliceblue;
  border-radius: 10px;
  height: 60px;
  width: 200px;
  font-size: 2em;
}

#content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Home  */

img[alt="Modern vintage restaurant"] {
  width: 70%;
  height: 30%;
  border-radius: 10px;
}

img[alt="Modern vintage restaurant"] + p {
  font-size: 0.5em;
  font-style: italic;
}

img[alt="Modern vintage restaurant"] + p > a {
  text-decoration: none;
}

img[alt="Modern vintage restaurant"] + p + div {
  width: 800px;
  margin-top: 20px;
  font-size: 2em;
  background-color: rgb(47, 79, 79, 0.2);
  padding: 10px;
  border-radius: 10px;
  color: rgb(250, 250, 250, 0.9);
}

/* Menu */

.menuItem {
  width: 80%;
  align-self: flex-start;
  margin-left: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
}

.menuItem h2 {
  grid-area: 1 / 1 / 2 / 4;
}

.itemDiv {
  border: 2px double rgb(47, 79, 79, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 150px;
}

.foodItem {
  font-size: 1.3em;
  font-style: italic;
}

.price {
  color: brown;
}
